# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyd
*.pdb

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.hdf5
*.json
*.xlsx

# Environment
.env
.venv/
env/
venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
